<app-header></app-header>
<!--
<app-test2></app-test2>
<app-student></app-student>
<app-login></app-login>
<app-login></app-login>
<app-showemployees></app-showemployees>
<app-login></app-login>
<app-register></app-register>
<app-showemployees></app-showemployees>
<app-products></app-products>
<br/><br/>
<app-cart></app-cart>
-->
<!--<mat-icon>home</mat-icon>-->
<!--
<app-test2></app-test2>
<app-student></app-student>
<app-login></app-login>
<app-login></app-login>
<app-showemployees></app-showemployees>
<app-login></app-login>
<app-register></app-register>
<app-showemployees></app-showemployees>

<br/><br/>
<app-cart></app-cart>
-->

<!--<mat-icon>home</mat-icon>-->

<marquee><h1>  </h1></marquee>
<app-products></app-products>
<div>
<router-outlet></router-outlet>
</div>