
<h3 align="center" (click)="showBookedItems()"> <button> My bookings  </button> </h3>
<h2 align="center"> Booked Test Drives {{bookings.length}} </h2> <br/><br/>

<div class="container">
    <table class="table border table-border table-striped table-hover table-sm text-center">
        <thead>
            <tr class="bg-info text-white">
                <th> Name </th>
                <th> Description </th>                     
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let booking of bookings">
                <td> {{booking.productName}} </td>
                <td> {{booking.description}} </td>
            </tr>
        </tbody>
    </table>
</div>