
<h1 align="center" style="color: white;"> Tesla </h1> <br/>
<div class="container" style="background-color: black; border:0px solid black;">
    <div class="row md-10"  style="background-color: black; border:0px solid black;">
        <div class="col-xl-10" *ngFor="let teslaproduct of tesla" style="background-color: black; border:0px solid black;">
            <div class="card" style="width: 1120px; height:100%; border:0px solid black;">
                <img class="card-image" [src]=teslaproduct.imagePath alt="Card Image Cap"/>
                <div class="card-body" style="background-color: black; border:0px solid black;">
                    <h3 class="card-title" style="text-align: center;color: white;"> {{teslaproduct.productName}} </h3>                    
                    <p class="card-text" style="color: white;"> {{teslaproduct.description}} </p>
                    <p align="right">
                    <button class="btn btn-black" style="color: white;"> BOOK A TEST DRIVE </button>
                </p>
                </div>
            </div>            
        </div>
        <br/>
    </div>
</div>




<!-- <div class="row">
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-success">col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-info">   col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-success">col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-info   ">col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-success">col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-info   ">col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-success">col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-info">   col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-success">col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-info   ">col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-success">col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-info   ">col-xl-1</div>
</div> -->


<!--
<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 col-6">
            <div class="card">
                <img class="card-image" src="assets/images/10001.jpg" />
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center;"> Nokia </h2>
                    <h3 class="card-text"> ₹26000.00 </h3>
                    <p class="card-test"> No cost EMI from Rs.1,499. Standard EMI also availableView Plans </p>                    
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 col-6">
            <div class="card">
                <img class="card-image" src="assets/images/10002.jpg" />
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center;"> Nokia </h2>
                    <h3 class="card-text"> ₹36000.00 </h3>
                    <p class="card-test"> No cost EMI from Rs.1,499. Standard EMI also availableView Plans </p>                    
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 col-6">
            <div class="card">
                <img class="card-image" src="assets/images/10003.jpg" />
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center;"> Nokia </h2>
                    <h3 class="card-text"> ₹40000.00 </h3>
                    <p class="card-test"> No cost EMI from Rs.1,499. Standard EMI also availableView Plans </p>                    
                </div>
            </div>
        </div>
    </div>
</div>
-->

