<marquee><h1>  </h1></marquee>
<div>
<div style="display: flex; justify-content: space-between;">
<div class ="content" role ="main" style="display: flex;">
 <!-- <button style="min-width: 100px; max-width: 100px;" (click)="goTopage('tesla')">Tesla</button>-->
<button style="min-width: 400px; max-width: 400px; font-size: 20px; color: white" class ="btn btn-black" (click)="goTopage('tesla')"> Tesla</button>

  </div>
  <!-- <router-outlet></router-outlet> -->


  <div class ="content" role ="main" style="display: flex;">
    <button style="min-width: 400px; max-width: 400px; font-size: 20px; color: white" class ="btn btn-black" (click)="goTopage('bmw')">BMW</button>
  </div>
<!-- <router-outlet></router-outlet> -->


<div class ="content" role ="main" style="display: flex;">
  <button style="min-width: 400px; max-width: 400px; font-size: 20px; color: white" class ="btn btn-black" (click)="goTopage('bugatti')">Bugatti</button>
</div>
<!-- <router-outlet></router-outlet> -->
</div>

<div style="display: flex; justify-content: space-between;">
<div class ="content" role ="main" style="display: flex;">
  <button style="min-width: 400px; max-width: 400px; font-size: 20px; color: white" class ="btn btn-black" (click)="goTopage('porsche')">Porsche</button>
</div>
<!-- <router-outlet></router-outlet> -->

<div class ="content" role ="main" style="display: flex;">
  <button style="min-width: 400px; max-width: 400px; font-size: 20px; color: white" class ="btn btn-black" (click)="goTopage('mercedes')">Mercedes</button>
</div>

<div class ="content" role ="main" style="display: flex;">
  <button style="min-width: 400px; max-width: 400px; font-size: 20px; color: white" class ="btn btn-black" (click)="goTopage('lambo')">Lamborghini</button>
</div>

</div>
<router-outlet></router-outlet>
</div>
