<h2 align="center"> Student Data </h2>

<table align="center">
    <tr>
        <th>SID</th>
        <th>Name</th>
        <th>Fees</th>
        <th>DOB</th>
        <th>Course</th>
        <th>Age</th>
    </tr>
    <tr *ngFor="let stud of students">
        <td> {{stud.sId}} </td>
        <td> {{stud.sName  | uppercase}} </td>
        <td> {{stud.fees   | currency:"INR"}} </td>
        <td> {{stud.dob    | date:'dd-MMM-yyyy'}} </td>
        <td> {{stud.course | lowercase}} </td>
        <td> {{stud.dob    | age}} </td>
    </tr>
</table>