
<h1 align="center"> My Products </h1> <br/>
<div class="container" style="background-color: black;">
    <div class="row md-10">
        <div class="col-xl-10" *ngFor="let bmwproduct of bmw">
            <div class="card" style="width: 1120px; height:100%;">
                <img class="card-image" [src]=bmwproduct.imagePath alt="Card Image Cap"/>
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;"> {{bmwproduct.productName}} </h3>                    
                    <p class="card-text"> {{bmwproduct.description}} </p>
                    <h4 class="card-text" align="left"> {{bmwproduct.price | currency:'INR'}} </h4>
                    <p align="right">
                    <button class="btn btn-primary" (click)="addToCart(bmwproduct)"> Add to Cart </button>
                </p>
                </div>
            </div>            
        </div>
        <br/>
    </div>
</div>




<!-- <div class="row">
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-success">col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-info">   col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-success">col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-info   ">col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-success">col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-info   ">col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-success">col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-info">   col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-success">col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-info   ">col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-success">col-xl-1</div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 bg-info   ">col-xl-1</div>
</div> -->


<!--
<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 col-6">
            <div class="card">
                <img class="card-image" src="assets/images/10001.jpg" />
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center;"> Nokia </h2>
                    <h3 class="card-text"> ₹26000.00 </h3>
                    <p class="card-test"> No cost EMI from Rs.1,499. Standard EMI also availableView Plans </p>                    
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 col-6">
            <div class="card">
                <img class="card-image" src="assets/images/10002.jpg" />
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center;"> Nokia </h2>
                    <h3 class="card-text"> ₹36000.00 </h3>
                    <p class="card-test"> No cost EMI from Rs.1,499. Standard EMI also availableView Plans </p>                    
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 col-6">
            <div class="card">
                <img class="card-image" src="assets/images/10003.jpg" />
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center;"> Nokia </h2>
                    <h3 class="card-text"> ₹40000.00 </h3>
                    <p class="card-test"> No cost EMI from Rs.1,499. Standard EMI also availableView Plans </p>                    
                </div>
            </div>
        </div>
    </div>
</div>
-->

